<div class="container red">
  <div>Escolha um login</div>
  <!-- Ao colocar input file com multiple o usuário pode selecionar mais de um arquivo ao mesmo tempo -->
  <input type="file" #input (change)="onFileSelected($event)"/>

  @for (userImage of users$ | async; track userImage.user.id){
    <div class="user">
      @if(userImage.imageUrl){
        <img [src]="userImage.imageUrl" />
      }
      @else{
        <span></span>
      }
      <span>{{ userImage.user.name }}</span>
      <button (click)="onImageButtonClicked(userImage.user.id)"> Im </button>
    </div>
  }

</div>
